{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Buscar libros</title>
    <link rel="stylesheet" type="text/css" href="{% static 'my_app/css/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 class="Tytle_Search">Buscador de libros</h1>

    <!-- Formulario de búsqueda -->
    <form method="post" action="{% url 'search_books' %}" class="Form_Search">
        {% csrf_token %} <!-- Protege el formulario contra ataques CSRF -->
        {{ form.as_p }} <!-- Renderiza el formulario como párrafos -->
        <input type="submit" value="Buscar">
    </form>

    <!-- Mostrar resultados de la búsqueda -->
    <h2>Resultados de la búsqueda</h2>
    <ul>
        {% for book in results %}
            <li>
                <strong>{{ book.title }}</strong> - {{ book.author }}
                <p>{{ book.summary }}</p>

                <!-- Mostrar criterios coincidentes -->
                {% if matched_criteria.book %}
                    <p><em>Criterios coincidentes:</em></p>
                    <ul>
                        {% for criterion in matched_criteria.book %}
                            <li>{{ criterion }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% empty %}
            <li>No se encontraron resultados para tu búsqueda.</li>
        {% endfor %}
    </ul>
</body>
</html>
